.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catContainer {
  border-bottom: 1rem solid var(--primary);
  background-color: var(--primary);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catImage {
  height: 50vh;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
  gap: 1rem;
}
