.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  background-color: var(--primary);
  width: 100%;
  cursor: pointer;
}

.body {
  color: var(--on-primary);
}

.body h4 {
  color: var(--on-primary);
  margin-bottom: 1rem;
}
